:root {
  --bg-button: #f0f0f0;
  --border-button: solid 1px #888;
}

@font-face {
  font-family: 'RobotoMono';
  src: url("./fonts/RobotoMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RobotoMono', sans-serif;
}

body {
  margin: 0;
}

